.text_about{
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    font-family: "font-light" !important;
    color: #ffffff;
}

.title_h1{
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 2rem;
    color: #ffffff;
    
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 11px;
}

.col6_2_name{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: justify;
    margin-right: 1rem;
    color: #ffffff;
    
}

.col6_2_side{
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    font-family: "font-light" !important;
    margin-right: 1rem;
    color: #ffffff;

}

.content{
    padding: 2rem 0rem;
}

.p_0{
    padding: 0 !important;
}

.honors_of_rasadnet{
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    color: #ffffff;

}