.img_qr{
    display: flex;
    justify-content: center;

    img{
        max-width: 100%;
        height: auto;
    }
}

.invoice_content{

    h1{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        
        color: #fff;
    }
    
    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:nth-child(odd){
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            color: #fff;                
        }

        p:nth-child(even){
            font-size: 12px;
            font-weight: 600;
            line-height: 17px;
            color: #fff;
            font-family: "font-number" !important;
        }
    }
}

.invoice{
    margin-bottom: 1rem;

    .total{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            font-family: "font-light" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #fff;

        }

        .price{


            font-family: "font-number" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #fff;


            small{
                font-family: "font-light" !important;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                
            }

        }

        .price_red{


            font-family: "font-number" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #D80000;


            small{
                font-family: "font-light" !important;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                
            }

        }

        .price_success{

            font-family: "font-number" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #1FC069;


            small{
                font-family: "font-light" !important;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                
            }

        }
    }
}