.form_group {
    position: relative;
    margin-bottom: 1.5rem;

    input {
        font-family: "font-light" !important;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        gap: 12px;
        height: auto !important;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;
    }

    textarea {
        font-family: "font-light" !important;
        outline: none;
        box-sizing: border-box;
        width: 100% !important;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        gap: 12px;
        height: auto !important;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;
    }

    :optional {
        color: #ACACAC;
    }

    select {
        font-family: "font-light" !important;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        gap: 12px;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;
    }


    ::placeholder {
        font-family: "font-light" !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;

        color: #ACACAC;

    }

    .date::placeholder {
        font-family: "font-light" !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;

        color: #ACACAC;

    }

    .position_svg {
        position: absolute;
        z-index: 100;
        left: 10px;
        top: 10px;
    }


}

.btn_profile {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 16px 15px 16px;
    border-radius: 16px;
    gap: 10px;
    background: #3282F9;
    border: 1px solid #3282F9;

    span {
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;

        text-align: center;
        color: #FFFFFF;

    }

}

.text_about {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    // text-align: justify;
    font-family: "font-light" !important;
    color: #ffffff;

    a {
        font-family: 'font-number';
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        color: #ffffff;

    }
}

.title_h1_terms {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;

    color: #ffffff;

    span {
        margin-right: .5rem;
    }

}