.box_title_platform{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        
        color: #14130E;
    }

    a{
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        
        color: #113d8d;
        text-decoration: none;
    }
}

.box_platform{
    margin-top: 1rem;
    margin-bottom: 2rem;

    .card_platform{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none !important;
        padding: 15px;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        


        .name_platform{
            font-size: 20px;
            font-weight: 900;
            line-height: 27px;
            
            color: #14130E;
            margin-bottom: .5rem;

        }

        .content_platform{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                font-size: 8px;
                font-weight: 300;
                line-height: 22px;
                
                color: #14130E;
                font-family: "font-light" !important;
            }

        }

    }
}

.box_title_study{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h1{
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        
        color: #14130E;
        margin-right: .5rem;
    }

}

.img_fluid{
    max-width: 100%;
    height: auto;
}

.title_card{
    font-family: "font-light" !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 14px !important;
    
    color: #323142 !important;
    padding: 3px !important;
}

.details_card{
    font-family: "font-light" !important;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    
    color: #9FA1AD;
}

.rating{
    position: absolute;
    left: 3%;
    top: 80%;
    display: flex;
    align-items: center;
    
    .text_rating{
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        
        color: #FFBA55;
        font-family: "font-number" !important;

    }
}

.text_dec_none{
    text-decoration: none;
}

.btn_secondary{
    display: inline-block;
    background: #eeefef;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;

    span{
        font-family: "font-light" !important;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        
        text-align: center;
        color: #323142;

    }
    
}

.btn_primary{
    display: inline-block;
    background: #113d8d;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;

    span{
        font-family: "font-light" !important;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        
        text-align: center;
        color: #ffffff;

    }
    

}

.p_0{
    padding: 0 !important;
}

.item_100{
    width: 100%;
    padding: 0 !important;
}

.comming_soon{
    border-radius: 16px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items:center;
    align-content: center;
    opacity: .9;
    text-align: center;
    z-index: 100;

    p{
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        
        color: #103D8D;
        opacity: 1 !important;
        margin-block:  .3rem;
    }
}