.navs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .5rem;
    width: 100%;
    border-bottom: 2px solid #EEEEEE;


    a {
        position: relative;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        color: #9E9E9E;
        cursor: pointer;
    }
}

.delive {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {

        h1 {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0em;
            color: #242424;

            img {
                margin-left: 5px;
            }
        }


        .traking_code {
            margin-block: .3rem;
            list-style: disc outside none;
            display: list-item;
            margin-right: 20px;


            span:nth-child(odd) {
                font-size: 11px;
                font-weight: 300;
                line-height: 15px;
                letter-spacing: 0.20000000298023224px;
                color: #616161;
            }

            span:nth-child(even) {
                font-family: "font-number" !important;
                font-size: 10px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0.20000000298023224px;
                color: #616161;
            }

        }

        .price {
            margin-block: .3rem;
            list-style: disc outside none;
            display: list-item;
            margin-right: 20px;


            span:nth-child(odd) {
                font-family: "font-number" !important;
                // font-size: 20px;
                font-size: 13px;
                font-weight: 300;
                line-height: 15px;
                letter-spacing: 0.20000000298023224px;
                color: #9E9E9E;
            }

            span:nth-child(even) {
                font-family: "font-number" !important;
                // font-size: 10px;
                font-size: 13px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0.20000000298023224px;
                color: #9E9E9E;
            }

        }

        .btn_order {
            text-align: center;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 5px 10px 5px 10px;
            border-radius: 27px;
            gap: 10px;
            background: #113D8D;
            border: 1px solid #113D8D;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;

            span:nth-child(odd) {
                font-size: 12px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0.20000000298023224px;
                text-align: center;
                color: #FFFFFF;
            }

            span:nth-child(odd) {}
        }

    }

    .btn_or {

        .btn_order {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 16px;
            gap: 10px;
            background: #113D8D;
            border: 1px solid #113D8D;
            height: 110px;
        }

        .btn_order_danger {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 16px;
            gap: 10px;
            background: #8D0000;
            border: 1px solid #8D0000;
            height: 110px;
        }

        .btn_order_orange {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 16px;
            gap: 10px;
            background: #EC5A1C;
            border: 1px solid #EC5A1C;
            height: 110px;
        }
    }
}

.element_not_found {
    display: grid;
    justify-content: center;
    align-items: center;

    .img_center {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }


    h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: #212121;
        text-align: center;
    }

    p {
        font-family: "font-light" !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.20000000298023224px;
        color: #212121;
        text-align: center;
    }
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: inherit;
}

.content_send {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .title_send {
        font-family: "font-light" !important;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #212121;
    }
}

.content_title {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    span {
        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: 0em;
        color: #F90A0A;
        margin-right: .5rem;

    }
}

.details_send {

    .details_items {
        margin-right: 1rem;
        position: relative;
        list-style-type: none;
        margin-top: 2rem;

        p:nth-child(odd) {
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            color: #212121;
            margin-block-start: 0;

            span {
                font-family: "font-number" !important;
            }
        }

        p:nth-child(even) {
            font-family: dana;
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0.20000000298023224px;
            color: #616161;

            span {
                font-family: "font-number" !important;
            }
        }
    }

    .details_items:before {
        content: "";
        position: absolute;
        top: 8px;
        width: 36px;
        height: 36px;
        right: -55px;
        left: 0;
        background: url("../../../../public/image/circle.svg") no-repeat;

    }
}

.component_faq {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 440px;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    height: 100%;
    direction: rtl;

    .text {
        font-family: "font-light" !important;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        color: #000;
        text-align: justify;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        .btn_cancell {
            text-align: center;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 8px;
            gap: 10px;
            background: #6c757d;
            border: 1px solid #6c757d;
            margin-right: 1rem;
            min-width: 150px;

            span {
                font-size: 12px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0.20000000298023224px;
                text-align: center;
                color: #FFFFFF;

            }

        }

        .btn_confirm {
            text-align: center;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 8px;
            gap: 10px;
            background: #113D8D;
            border: 1px solid #113D8D;
            min-width: 150px;

            span {
                font-size: 12px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0.20000000298023224px;
                text-align: center;
                color: #FFFFFF;

            }
        }
    }

}

.detail_invoice {
    margin: 1.5rem 0rem;

    .btn_collaps {
        display: block;
        text-align: center;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 10px 15px 10px;
        border-radius: 100px;
        gap: 10px;
        background: #113D8D;
        border: 1px solid #113D8D;

        span {
            font-size: 12px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;
            color: #FFFFFF;

        }
    }
}

.collaps_open {
    display: block;

}

.collaps_close {
    display: none;

}

.td_count {
    font-family: "font-number" !important;
    font-size: 12px !important;
}

.th_font {
    font-family: "font-primary" !important;
    font-size: 12px !important;
}