.content_address{
    display: flex;
    justify-content: space-between;
    align-items: center;


    .content{

        h1{
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            
            color: #FFFFFF;
            
        }

        p{
            font-size: 10px;
            font-weight: 500;
            line-height: 14px;
            
            color: #FFFFFF;
        }

    }

    input[type="radio"] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
        accent-color:#3282F9;
    }

 
}

.btn_address{
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 17px 16px 17px 16px;
    border-radius: 100px;
    gap: 10px;
    background: #3282F9;
    border: 1px solid #3282F9;

    span{
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        
        text-align: center;
        color: #FFFFFF;
        

    }

}