.form_group{

    .form_control{
        width: 100%;
        height: 56px;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 16px;
        gap: 12px;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;
        color: #fff;
    }

    .form_control::placeholder{
        font-family: "font-light" !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 49px;
        
        color: #fff;
        
    }

    .form_control:focus{
        outline: none;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;
    }

    .select_control{
        font-family: "font-light" !important;
        width: 100%;
        height: 56px;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 16px;
        gap: 12px;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;

    }

    .select_control:optional{
        color: #fff;
    }

    .select_control:focus{
        outline: none;
        background: #2A2A2A;
        border: 1px solid #2A2A2A;
    }


}

.btn_address{
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 17px 16px 17px 16px;
    border-radius: 100px;
    gap: 10px;
    background: #3282F9;
    border: 1px solid #3282F9;

    span{
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        
        text-align: center;
        color: #FFFFFF;
        

    }

}