.card_product{
    position: relative;
    margin: 0 auto;
    padding: 10px;
    background: #202020;
    border-radius: 12px;
    margin-left: 10px;


    .card_img{
        position: relative;
        z-index: 10 !important;


        .img_center{
    
            img{
                width: 100%;
                height: auto;
                border-radius: 12px;
                background: #ebebeb;
    
            }
        }
        .icon_wishlist{
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: -15px;
            right: 15px;
            width: 36px;
            height: 36px;
            background: #ffffff;
            border-radius: 50%;
            z-index: 1000000 !important;

            svg{
                width: 12px;
                height: 16px;
            }
        }
    }
    

    .rating{
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;

        .text_rating{
            font-family: "font-number" !important;
            font-size: 10px;
            font-weight: 400;
            line-height: 8px;
            
            color: #ffffff;
        }
    }

    .shop{
        text-align: right;
        margin-bottom: .5rem;
        margin-top: 1.5rem;

        span{
            font-family: "font-light" !important;
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            
            text-align: right;
            color: #ffffff;
        }


    }

    .product_details{
        text-align: right;

        .name_product{
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            
            text-align: right;            
            text-decoration: none;

        }

        .price_product{
            font-family: "font-number" !important;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            
            text-align: right;
            color: #ffffff;
            margin-block-start: .3rem !important;
            margin-block-end: 0 !important;


        }

    }
}

.fade_open{
    background: #09101DBF;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height:  100%;
    max-height: 100%;
    transition: max-height 10s ease-out;
}
.fade_close{

}

.card_delete_open{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    // height:  421px;
    // max-height: 421px;
    padding: 8px 24px 48px 24px;
    border-radius: 40px 40px 0px 0px;
    border: 1px;
    gap: 24px;
    background: #202020;
    border: 1px solid #202020;
    z-index: 10000;
    transition: height .4s ease-out;

    h1{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        
        text-align: center;
        color: #ffffff;

    }

    .d_flex_btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;

        .cancell{
            border: 1px solid #1448a850;
            width: 100%;
            padding: 18px 16px 18px 16px;
            border-radius: 100px;
            gap: 10px;
            background: #3382f960;
            color: #ffffff;
            margin-right:.5rem;
            cursor: pointer;
        }

        .confirm{
            border: 1px solid #3383F9;
            width: 100%;
            padding: 18px 16px 18px 16px;
            border-radius: 100px;
            gap: 10px;
            background: #3383F9;
            color: #fff;
            margin-left: .5em;
            cursor: pointer;
        }
    }

}

@media only screen and (max-width: 440px) {
    .card_delete_open{
        position: fixed;
    }
}

.card_delete_close{
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 0;
    max-height: 0;
    transition: max-height 0.15s ease-out;

}

.category_filter{
    height: 250px;
    overflow: auto;

    h1{
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        
        color: #ffffff;
        text-align: right;
    }

    .input_relative{
        position: relative;
        margin-bottom: 1rem;

        input{
            width: 100%;
            max-width: fit-content;
            height: 38px;
            background: center center / contain no-repeat rgb(250, 250, 250);
            border: 2px solid #EDEDED;
            border-radius: 100px;
            margin-top: 0.25em;
            vertical-align: top;
            appearance: none;
            -webkit-print-color-adjust: exact;
        }

        input:checked{
            border: 2px solid #3383F9 !important;
        }

        .label_absolute{
            position: absolute;
            right: 16px;
            left: 16px;
            text-align: right;
            top: 0;
            padding-top: 12px;
            cursor: pointer;
            padding-right: 10px;
            padding-left: 10px;
            
            p{
                font-family: "font-light" !important;
                color: #3383F9;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                
                margin-block: 0 !important;
            }

        }
    }
}

.breadcrumb{
    margin: 1rem 0rem !important;
    font-family: "font-primary" !important;

    a{
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        
        color: #fff;
        text-decoration: none;
    }

    p{
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        
        color: #fff;
        margin-block: 0;
    }
}