.alert_success{

    figure{
        margin-bottom: 7rem;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    .content{
        padding: 0rem 1.5rem;
        margin-bottom: 3rem;

        h1{
            font-size: 27px;
            font-weight: 900;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;

        }

        p{
            font-family: "font-light" !important;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

.btn_home{
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px 10px 16px;
    border-radius: 100px;
    gap: 10px;
    background: #3282F9;
    border: 1px solid #3282F9;

    span{
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.20000000298023224px;
        text-align: center;
        color: #FFFFFF;

    }

}

.btn_reload{
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px 10px 16px;
    border-radius: 100px;
    gap: 10px;
    background: #AD1E1C;
    border: 1px solid #AD1E1C;

    span{
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.20000000298023224px;
        text-align: center;
        color: #FFFFFF;

    }

}