.category_list{
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: .2rem;

    .img_center{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f7e8e7;
        padding: 10px;
        border-radius: 10px;

        img{
            width: 30px;
            height: 30px;

        }
    }

    h1{
        font-family: "font-light" !important;
        font-size: 13px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #323142;
        margin-block: 0;

    }
}

.category_all{
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.200000003px;
    color: #113D8D;
    cursor: pointer;
}

.collaps_open{
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: .5rem;
}

.collaps_close{
    display: none;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
