.search{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto !important;
    margin-left: 0 !important;
    
    .form_group{
        position: relative;
        direction: rtl;


        .input{
            display: block;
            font-family: "font-light" !important;
            border: 1px solid #EEEEEE;
            background: #EEEEEE;
            width: 100%;
            box-sizing: border-box;
            padding: 12px 16px 12px 40px;
            border-radius: 100px;
            gap: 10px;
            height: 44px;
            text-align: right;
            cursor: pointer;
        }


        svg{
            position: absolute;
            z-index: 10;
            left: 10px;
            top: 25%;
        }
        
    }
}

.btn_fillter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "font-light" !important;
    border: 1px solid #EEEEEE;
    background: #EEEEEE;
    width: 100%;
    box-sizing: border-box;
    border-radius: 100px;
    height: 44px;
    text-align: right;
    cursor: pointer;
}

.slider_banner{
    margin-bottom: 2rem;

    .img_fluid{
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

}

.title_content_product{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        
        color: #212121;
    }

    a{
        font-size: 10px;
        font-weight: 700;
        line-height: 14px;
        
        color: #113D8D;
        text-decoration: none;
        }
}

.slider_product{

}

.card_product{
    position: relative;
    margin: 0 auto;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-left: 10px;


    .card_img{
        position: relative;
        z-index: 10 !important;


        .img_center{
    
            img{
                width: 100%;
                height: auto;
                border-radius: 12px;
                background: #ebebeb;
    
            }
        }
        .icon_wishlist{
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: -15px;
            right: 15px;
            width: 36px;
            height: 36px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px 0px #0000000A;
            border-radius: 50%;
            z-index: 1000000 !important;
        }
    }
    

    .rating{
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;

        .text_rating{
            font-family: "font-number" !important;
            font-size: 10px;
            font-weight: 400;
            line-height: 8px;
            
            color: #9B9B9B;
        }
    }

    .shop{
        text-align: right;
        margin-bottom: .5rem;
        margin-top: 1.5rem;

        span{
            font-family: "font-light" !important;
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            
            text-align: right;
            color: #9B9B9B;

            
        }


    }

    .product_details{
        text-align: right;

        .name_product{
            color: #242424;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            
            text-align: right;            
            text-decoration: none;

        }

        .price_product{
            font-family: "font-number" !important;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            
            text-align: right;
            color: #242424;
            margin-block-start: .3rem !important;
            margin-block-end: 0 !important;


        }

    }
}

.banner_shop{
    margin: 1.5rem  0rem;

    img{
        width: 100%;
        height: 100px;
    }
}
.m_b_1{
    margin-bottom: 2rem;
}

.component_search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 440px;
    width:100%;
    padding: 10px;
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    height: 100%;

    .form_group{
        position: relative;
        width: 100%;
        margin-top: 1rem;
        direction: rtl;

        input{
            font-family: "font-light" !important;
            background: #e5eaf0;
            width: 100%;
            box-sizing: border-box;
            padding: 12px 40px 12px 40px;
            border-radius: 16px;
            gap: 10px;
            height: 56px;
            border: 1px solid #113D8D;
        }

        input:focus{
            background: #e5eaf0;
            border: 1px solid #113D8D;
            outline: none;
        }

        input::placeholder{
            font-family: "font-light" !important;
        }


        .search_icon{
            position: absolute;
            z-index: 10;
            left: 10px;
            top: 17%;
        }

        .search_fillter{
            position: absolute;
            z-index: 10;
            right: 2px;
            top: 15%;
        }
        
    }

    .list_search{
        border-top: 1px solid #EEEEEE;
        width: 100%;
        padding: 0;
        overflow: auto;

        li{
            text-align: right;
            list-style: none;
            padding: 10px;
            cursor: pointer;
            
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: #757575;

                span{
                    font-family: "font-light" !important;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25px;
                    
                    text-align: right;
                }
                svg{
    
                }
            }
            


        }
        
    }

    .list_search::-webkit-scrollbar{
        display: none ;
    }
}

.page_404{
    margin-top: 2rem;

    .img_center{
        display: flex;
        justify-content: center;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    .content{
        text-align: center;

        .title{
            font-size: 24px;
            font-weight: 900;
            line-height: 34px;
            
        }

        .text{
            font-family: "font-light" !important;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            
            padding: 0rem 2rem;
            
        }
    }
}