
.title_address{
    margin-bottom: 2rem;

    p{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        
        color: #212121;

    }

    .content_address{
        display: flex;
        justify-content: space-between;
        align-items: center;


        .content{

            h1{
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                
                color: #212121;
                
            }

            p{
                font-size: 10px;
                font-weight: 500;
                line-height: 14px;
                
                color: #616161;
            }

            .price{
                font-family: "font-number" !important;
                font-size: 10px;
                font-weight: 500;
                line-height: 14px;
                
                color: #01B763;
            }
        }

        input[type="radio"] {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
            transform: scale(1.5);
            accent-color:#103D8D;
        }

     
    }
}

.invoice{
    margin-bottom: 1rem;

    .total{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            font-family: "font-light" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #A5A5A5;

        }

        .price{


            font-family: "font-number" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #000000;


            small{
                font-family: "font-light" !important;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                
            }

        }

        .price_red{


            font-family: "font-number" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #D80000;


            small{
                font-family: "font-light" !important;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                
            }

        }

        .price_success{

            font-family: "font-number" !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            
            color: #1FC069;


            small{
                font-family: "font-light" !important;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                
            }

        }
    }
}

.btn_card{
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px 10px 16px;
    border-radius: 100px;
    gap: 10px;
    background: #113D8D;
    border: 1px solid #113D8D;
    box-shadow: 4px 8px 24px 0px #00000040;

    span{
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        
        text-align: center;
        color: #FFFFFF;

    }

}

.invoives{

    .invoice_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .item_invoice{
            flex: 0 0 auto;
            width: 50%;
            display: flex;

            p:nth-child(odd){
                margin-left: 10px;

            }

            p:nth-child(even){
                font-size: 10px;
                font-weight: 700;
                line-height: 12px;
                
                color: #000000;

                div{
                    font-family: "font-number" !important;
                }
            }
        }
    }

    .invoice_content{

        h1{
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            
            color: #212121;
        }
        
        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p:nth-child(odd){
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                
                color: #616161;                
            }

            p:nth-child(even){
                font-size: 12px;
                font-weight: 600;
                line-height: 17px;
                
                color: #424242;
                font-family: "font-number" !important;
            }
        }
    }
}