.slider_product {

    .img_product {
        width: 100%;
        height: 337px;


    }
}

.content_name_product {

    .name_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 18px;
            font-weight: 700;
            line-height: 29px;
            
            color: #212121;
        }
    }

    p {
        font-family: "font-light" !important;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        
        color: #C4C4C4;
        margin-block: 0rem;
    }

    .shop_content {
        margin-top: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .alert_primary {
            width: fit-content;
            padding: 6px 10px 6px 10px;
            border-radius: 6px;
            gap: 8px;
            background: #113D8D14;

            span {
                font-size: 10px;
                font-weight: 600;
                line-height: 10px;
                
                color: #113D8D;
            }

        }

        .shop_profiel {
            display: flex;

            .img_center {
                // margin: auto;
                display: flex;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }

            p {
                font-family: "font-light" !important;
                font-size: 9px;
                font-weight: 400;
                line-height: 14px;
                
                color: #242424;
                margin-right: 5px;
                margin-block: 0;
            }
        }
    }

}

.content {
    margin-top: 1.5rem;

    h1 {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        
        color: #000000;
    }

    p {
        // font-family: "font-light" !important;
        font-size: 8px;
        font-weight: 500;
        line-height: 10px;
        
        color: #B1B1B1;
    }
}

.card_shop {
    // position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 1.5rem 0rem;
    background: #ffffff;
    padding: .5rem 1.5rem;
    border-radius: 15px;


    .content_product_shop {
        margin-bottom: .5rem;

        .img_product {
            width: 75px;
            height: 75px;
            border-radius: 50%;

        }

        .name_product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            font-weight: 500;
            line-height: 22px;
            
            color: #14130E;
            margin-block: 0;
            margin-right: 1rem;

            .rating_position {
                display: flex;
                // align-items: center;
                // position: absolute;
                // left: 10px;
                // top: 18px;
            }
        }

        .content_shops {
            margin: .5rem 1rem 0rem 0rem;
            padding-left: 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .stock {
                display: flex;
                align-items: center;

                span:nth-child(odd) {}

                span:nth-child(even) {
                    margin-right: .3rem;

                    p:nth-child(odd) {
                        margin-block: .3rem;
                        font-size: 10px;
                        font-family: "font-light" !important;
                        font-weight: 300;
                        line-height: 22px;
                        
                        color: #000000;
                    }

                    p:nth-child(even) {
                        font-family: "font-number" !important;
                        margin-block: .3rem;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 22px;
                        
                        color: #1FC069;
                    }

                }
            }

        }

        .details_shop {
            font-family: "font-light" !important;
            margin-right: 1rem;
            font-size: 9px;
            font-weight: 400;
            line-height: 16px;
            
            text-align: justify;
            color: #B9B8B1;

        }

        .status_product {
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: 900;
            line-height: 22px;
            
            color: #000000;
            margin-block: .3rem;
            margin-right: 1rem;
        }
    }

    .price_shop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            font-family: "font-number" !important;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            
            color: #000000;


            small {
                font-size: 13px;
                font-weight: 700;
                line-height: 16px;
                


            }

        }
    }

    .add_card {

        .btn_card {
            display: block;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 16px 10px 16px;
            border-radius: 100px;
            gap: 10px;
            background: #113D8D;
            border: 1px solid #113D8D;
            box-shadow: 4px 8px 24px 0px #00000040;

            span {
                font-size: 12px;
                font-weight: 700;
                line-height: 17px;
                
                text-align: center;
                color: #FFFFFF;

            }

        }
    }
}

.comment {

    .title {
        margin-block: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        
        color: #212121;



    }

    p {
        font-family: "font-light" !important;
        text-align: justify;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        
        color: #7E7E7E;

    }
}

.fade_open {
    background: #09101DBF;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    max-height: 100%;
    transition: max-height 10s ease-out;
}

.fade_close {}

.card_product_open {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 421px;
    max-height: 421px;
    padding: 8px 24px 48px 24px;
    border-radius: 40px 40px 0px 0px;
    border: 1px;
    gap: 24px;
    background: #ffffff;
    border: 1px solid #F5F5F5;
    z-index: 10000;
    transition: max-height .4s ease-out;
    overflow: auto;

    h1 {
        font-family: "font-light" !important;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        
        color: #212121;
        text-align: center;

        span {
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            
            color: #110DD8;
        }


    }

    .card_pro {

        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            border-radius: 10px;
            background: #FFFFFF;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
            padding: 1rem;
            margin-bottom: 1rem;

            .option_prodeuct {

                .name {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    
                    color: #000000;
                    margin-block: .5rem;

                    svg {
                        margin-left: 5px;
                    }
                }

                .price {
                    font-family: "font-number" !important;
                    display: flex;
                    align-items: center;
                    margin-block: .5rem;

                    svg {
                        margin-left: 5px;
                    }

                    span:nth-child(even) {
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 14px;                        
                        font-family: "font-light" !important;
                    }

                    span:nth-child(odd) {
                        font-family: "font-number" !important;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        color: #069046;

                    }

                }


            }

            .item_product {
                display: grid;
                align-items: center;
                justify-content: center;

                .input_number {
                    width: 100%;
                    box-sizing: border-box;
                    background: #C2C2C23D;
                    border-radius: 7px;
                    padding: .5rem;
                    text-align: center;
                    margin-bottom: .5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span{
                        font-family: "font-number" !important;
                    }
                }


                .confirm {
                    text-decoration: none;
                    box-sizing: border-box;
                    border: 1px solid #113D8D;
                    width: 100%;
                    gap: 10px;
                    border-radius: 7px;
                    background: #113D8D;
                    box-shadow: 4px 8px 24px 0px #113D8D40;
                    color: #fff;
                    padding: .5rem;
                    cursor: pointer;
                    text-align: center;

                    span {
                        font-family: "font-light" !important;                        
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 22px;
                        
                        color: #FFFFFF;

                    }
                }


            }

        }

    }
}

@media only screen and (max-width: 440px) {
    .card_product_open {
        position: fixed;
    }
}

.card_product_close {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 0;
    max-height: 0;
    display: none;
    transition: max-height 0.15s ease-out;

}

::-webkit-scrollbar {
    display: none;
}

.tabs {
    padding: .5rem;
    background: #ECECEC;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;


    a {
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        
        color: #949494;

    }
}

.physical_characteristics {

    .title {
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        
        color: #FF0000;
    }

    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .option_title {
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            
            color: #000000;
        }

        .option_content {
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            
            color: #000000;
        }
    }
}

.other_features {

    .title {
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        
        color: #0060EF;

    }

    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .option_title {
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            
            color: #000000;
        }

        .option_content {
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            
            color: #000000;
        }
    }
}

.line {
    text-align: center;
}

.comment {
    margin-bottom: 1rem;

    .comment_img {

        .img_center {
            display: flex;
            justify-content: center;

            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }

        }
    }

    .comment_content {

        .contents {

            .name {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .names {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    
                    color: #000000;
                }

                .rating {
                    display: flex;
                    align-items: center;

                    .date {
                        margin-block: 0;
                        font-family: "font-number" !important;
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 12px;
                        
                        color: #616161;
                        margin-left: 1rem;
                    }

                    .rat {
                        margin-block: 0;
                        display: flex;
                        font-family: "font-number" !important;
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 12px;
                        
                        color: #113D8D;

                        svg {
                            margin-right: .5rem;
                        }
                    }

                }

            }

            .comment_des {
                font-size: 10px;
                font-weight: 300;
                line-height: 20px;
                
                text-align: justify;
                color: #000000;
            }

        }
    }
}

.form_group {
    position: relative;
    margin-bottom: 1.5rem;

    input {
        font-family: "font-light" !important;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        gap: 12px;
        height: auto !important;
        background: #ffffff;
        border: 1px solid #ffffff;
    }


    textarea {
        font-family: "font-light" !important;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        gap: 12px;
        background: #ffffff;
        border: 1px solid #ffffff;
    }


    select {
        font-family: "font-light" !important;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        gap: 12px;
        background: #ffffff;
        border: 1px solid #ffffff;
    }


    ::placeholder {
        font-family: "font-light" !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;
        
        color: #ACACAC;

    }

    .date::placeholder {
        font-family: "font-light" !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;
        
        color: #ACACAC;

    }

    .position_svg {
        position: absolute;
        z-index: 100;
        left: 10px;
        top: 13px;
    }


}


.btn_send {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 16px 15px 16px;
    border-radius: 16px;
    gap: 10px;
    background: #113D8D;
    border: 1px solid #113D8D;
    box-shadow: 4px 8px 24px 0px #00000040;

    span {
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        
        text-align: center;
        color: #FFFFFF;

    }

}

.border_tab {
    border: 1px solid #cbcbcb;
    height: 15px;
}