@font-face {
  font-family: "font-primary";
  src: url(../public/fonts/IRANYekanX-Black.ttf);
}

@font-face {
  font-family: "font-bold";
  src: url(../public/fonts/IRANYekanX-Bold.ttf);
}

@font-face {
  font-family: "font-light";
  src: url(../public/fonts/IRANYekanX-Light.ttf);
}

@font-face {
  font-family: "font-number";
  src: url(../public/fonts/IRANYekanXFaNum-Bold.ttf);
}

h1 , h2 , h3 , h4 , h5 , h6 , p , span , div , button {
    font-family: "font-primary" !important;
}

.font-light{
  font-family: "font-light" !important;
}

.font-number{
  font-family: "font-number" !important;
}


:root {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  /* background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -ms-scroll-snap-coordinate: 0 0;
  scroll-snap-coordinate: 0 0;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  overscroll-behavior-x: none !important;
  padding-bottom: env(safe-area-inset-bottom, 5px);
  scrollbar-width: none;

}

.scroll-auto-light{
  overflow-y: auto;
  height: 85vh;
}

.scroll-auto-light::-webkit-scrollbar{
  display: none;
}

.scroll-auto-dark{
  overflow-y: auto;
  height: 85vh;
}

.scroll-auto-dark::-webkit-scrollbar{
  display: none;
}

.super-app-container-light {
  background-color: #f9f9f9;
  direction: rtl;
  width: 100%;
  max-width: 440px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* padding-bottom: 16px; */
  padding-top: 16px;
  overflow-y: auto;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-animation: fade-in .3s ease-in-out;
  animation: fade-in .3s ease-in-out;
  overflow-x: hidden;
}

.super-app-container-dark {
  background-color: #121212;
  direction: rtl;
  width: 100%;
  max-width: 440px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* padding-bottom: 16px; */
  padding-top: 16px;
  overflow-y: auto;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-animation: fade-in .3s ease-in-out;
  animation: fade-in .3s ease-in-out;
  overflow-x: hidden;
}

@media screen and (min-width: 321px){
  .super-app-container-light {
      height: 100%;
  }

  .super-app-container-dark {
    height: 100%;
}

}

@media screen and (max-width: 400px){
  .scroll-auto-light{
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .scroll-auto-dark{
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

